/* =================== */
/* Basic Setup */
/* =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

a {
  color: black;
  text-decoration: none;
}

/* bootstrap override rounded */
.rounded {
  border-radius: 18px !important;
}

/* bootstrap color override */
.bg-primary {
  background: #40aaf9 !important;
}

.bg-success {
  background: #76cb11 !important;
}

/* bootstrap pagination active color */
.page-item.active .page-link {
  background: #76cb11 !important;
  border-color: #76cb11;
  color: #fff !important;
}

/* override bootstrap radio check mark */
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #76cb11;
  background-color: #76cb11;
  box-shadow: none !important;
}

/* ------------------------- */
/* Reuseable Style */
/* ------------------------- */

/* custom design */
/* custom background */
.bg-light-success {
  background: #e2f0d9 !important;
}

/* custom container */
.custom-container {
  max-width: 1170px;
  margin: 0 auto;
}

/* truncate after 3 line  */
.truncate-overflow {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: normal;
  overflow: hidden;
}

.link {
  text-decoration: underline !important;
}

.link:hover {
  color: #40aaf9;
}

/* Components Custom Design */
/* cover image */
.cover-img {
  height: 29vw;
}

/* talent section */
.talent-img {
  width: 160px;
}

/* icons styles */
.social-icon a:hover {
  color: transparent;
}

/* ----------------------- */
/* Icon Hover Effects */
/* ----------------------- */
.instagram-icon:hover,
.youtube-icon:hover,
.tiktok-icon:hover {
  filter: drop-shadow(0 0 12px #ff0000);
}

.twitter-icon:hover,
.wordpress-icon:hover,
.facebook-icon:hover,
.discord-icon:hover,
.linkedin-icon:hover {
  filter: drop-shadow(0 0 12px #318bff);
}

.twitch-icon:hover {
  filter: drop-shadow(0 0 12px #6600ff);
}

.spotify-icon:hover {
  filter: drop-shadow(0 0 12px #00ff6a);
}

.social-icon img {
  width: 28px;
}

/* support options */
/* support option card list */
.support-options {
  max-width: 1170px;
}

.grid {
  margin: 0 auto;
}

/* fixed card width */
.support-option-card-list .card {
  width: 320px;
}

.support-option-card-list .card .card-img-top {
  height: auto;
  border-radius: 18px 18px 0 0;
}

.support-description,
.benefit-list {
  font-size: 14px;
}

/* message form */
textarea {
  resize: none;
}

/* content section */
.paid-header {
  background: url("../img/paid-background.png") no-repeat center;
  background-size: cover;
  height: 230px;
}

.paid-header,
.content-header video,
.content-header img {
  border-radius: 18px 18px 0 0;
  outline: 0;
}

/* --------------------- */
/* support page */
/* --------------------- */
.supporter-img {
  width: 80px;
}

/* treat product image */
.product-img {
  width: 50px;
}

/* counter design */
.counter {
  width: 150px;
}

.counter button {
  width: 35px;
  font-size: 22px;
}

/* Quantity Input */
input#quantity {
  width: 10%;
}

/* Payment selection */
.payment-card {
  height: 55px;
  width: 115px;
}

.payment-card img {
  transform: scale(0.8);
}

.payment-card.active {
  border: 5px solid #76cb11 !important;
}

/* -------------------------- */
/* Post details Page */
/* -------------------------- */
.post-navigator a {
  width: 48%;
}

/* footer section */
footer {
  font-size: 14px;
}

/* ------------------------- */
/* Media Queries */
/* ------------------------- */
@media (max-width: 360px) {
  .social-icon img {
    width: 20px;
  }
}

@media (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .navbar-nav {
    width: 100%;
  }

  .dropdown-menu {
    left: 0;
    right: auto;
  }
}

@media (max-width: 786px) {
  .talent-description,
  .button-list {
    width: 100% !important;
  }

  .custom-container {
    width: 90% !important;
  }
}
